<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <title>comments</title>
</head>
<body style="background-color: rgb(0, 0, 0);">
          
    {{> _goback}}
    {{> _add}}
    <div class="container">
    {{{body}}}
 
    <p style="padding-top: 40px;padding-left: 40px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 20px; color: rgb(92, 91, 91)">click here to visit my site!</p>

<div style=" display: inline; font-size: 45px; font-weight: 100;">
		<a href="https://hetvi955.github.io/pp.github.io/" id='head'>paintingpanda</a>
  </div>
  <p>click here to visit us!</p>

    <h1 style="padding: 40px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 40px;font-weight: 200; color: rgb(117, 117, 117);">Can we hear from you?
    </h1>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js"
    integrity="sha256-bEIQpI72w9NJuIVhTLFUF2/8uxl0u5800r8ddViuv+o=" crossorigin="anonymous"></script>


<style>
    #head{
    background: linear-gradient(to right, #f8aada 35%,#f8be88 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Comfortaa';
    padding: 40px;
    line-height:75px;
   
}
</style>
</body>

</html>