<body style="background-color:rgb(1, 1, 114);">
   <h3 style="color:rgb(212, 211, 211)">Add comments!</h3>
<a href="/addblank" style="text-decoration: none; color:rgb(135, 228, 112)">add new</a>
</body>

