<div class="row">
    <form action="/comments" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title"  style="color:whitesmoke; margin-top:20px">
                <label for="title" style="font-size:large">add your comments here!</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>