<h3>Edit posted feedback</h3>
<div class="row">
    <form action="/comments/{{comment._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{comment.title}}" style="color:whitesmoke; margin-top:20px">
                <label for="title" style="font-size: large;">what do u think?</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>