<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pp.</title>
</head>
<body>
    <p style="font-weight: 300; font-family:'tahoma'; color:rgb(39, 39, 39); padding-top:30px">Login here!</p>

<div style='background:rgb(248, 148, 148)'>
    <a href="/auth/google" class='btn' style="margin:40px">
    LOGIN WITH GOOGLE</a>
</div>

    
</body>
</html>
