<body style="background-image: url(../views/layouts/bg.jpg); background-repeat:no-repeat; background-size:cover">
<img src="images/profile.jpg" width="250px" style="margin-left: 350px; margin-top:30px; opacity: 75%">
<br>
<div style="margin-top: 100px; margin-left: 350px">
<h4 style="color:rgb(192, 191, 191)"> First Name: {{name}}</h4>
<h4 style="color:rgb(192, 192, 192)"> Last Name: {{lastname}}</h4>
<br>
<br>
<h6 style="color:rgb(206, 206, 206)"> Created account on: 
    <br>
    {{since}} </h6>
</div>

</body>

